/* For Mobile */
@media screen and (max-width: 540px) {
    .view {
        width: 400px;
    }
}

.home {
    border: 2px solid black;
    padding: 25px;
    background: url(assets/background.JPG);
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
  }

.background {
    /* Property 1=Default */
position: absolute;
width: 375px;
height: 650px;
left: 40px;
top: 31px;

background: #769CFF;
}