/* For Mobile */
@media screen and (max-width: 540px) {
    .view {
        width: 400px;
    }
}

.home {
    border: 2px solid black;
    padding: 25px;
    background: url(assets/background.JPG);
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
  }

.background {
    /* Property 1=Default */
position: absolute;
width: 270px;
height: 480px;
left: 40px;
top: 31px;

background: #769CFF;
}

.toptext {
    position: absolute;
width: 492px;
height: 67px;
left: 135px;
top: 25px;
}

.square {
    
position: absolute;
width: 25px;
height: 20px;
left: 70px;
top: 490px;

background: #D9D9D9;
}

.triangle-up {
position: absolute;
width: 0;
	height: 0;
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	border-bottom: 18px solid #D9D9D9;
left: 65px;
top: 475px;
}

.circle {
    position: absolute;
width: 25px;
height: 25px;
left: 115px;
top: 475px;

background: #D9D9D9;
border-radius: 60%
}

.search {
position: absolute;
width: 30px;
height: 0px;
left: 115px;
top: 490px;

background: #D9D9D9;
border: 3px solid #DBDBDB;
transform: matrix(0.72, 0.7, -0.69, 0.72, 0, 0);
}

.profile{
position: absolute;
width: 40px;
height: 40px;
left: 45px;
top: 35px;

background: #D9D9D9;
border-radius: 60%
}


.survey {
    position: absolute;
    width: 220px;
    height: 90px;
    left: 65px;
    top: 100px;
    
    background: #97E5F7;
}

.survey2 {
    position: absolute;
    width: 220px;
    height: 90px;
    left: 65px;
    top: 200px;
    
    background: #97E5F7;
}

.survey3 {
    position: absolute;
    width: 220px;
    height: 90px;
    left: 65px;
    top: 300px;
    
    background: #97E5F7;
}

.newSurvey {
position: absolute;
width: 70px;
height: 25px;
left: 65px;
top: 425px;

background: #D9D9D9;
}
.text {
    position: absolute;
    top: -10px;
}